
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
  
.h1{
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-size: 50px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 35px;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  width: 75px;
  height: 75px;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 50px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover{
  background-color: rgba(255, 255, 255, 1);
  color:#000;
}

.btn:disabled{
  cursor: not-allowed;
}

.result-container{
  background-color: rgba(255, 255, 255,0.8);
  border: 2px solid #000;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}

.result{
  color:#fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-size: 25px;
}

.result-selection{
  text-align: center;
}

reset-btn{
  border: 2px solid #000;
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

